html{font-family: Calibri;}
h1 {text-align: center;}
a ,button{text-decoration: none; color: black;}
#car{display: none;}
#bus{display: none;}
#motor{display: none;}
#bike{display: none;}
#e-bike{display: none;}
#foot{display: none;}

#sign_up_btn, #log_in_btn, #log_out_btn{width: auto;}
#log_out_btn{/*display: none;*/}
